<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ALL_BUILD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>CopyIlmBaseLibs.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>Half.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>Iex.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>IexMath.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>IlmImf.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>IlmThread.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>Imath.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>RUN_TESTS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ZERO_CHECK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>b44ExpLogTable.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>bsdftest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>cyhair2pbrt.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>demangle_unittest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>dwaLookups.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>eLut.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>glog.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>imgtool.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>install.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>logging_unittest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
		<key>obj2pbrt.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>package.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>pbrt.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>pbrt_exe.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>pbrt_test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>signalhandler_unittest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>26</integer>
		</dict>
		<key>stacktrace_unittest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>27</integer>
		</dict>
		<key>stl_logging_unittest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>28</integer>
		</dict>
		<key>symbolize_unittest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>29</integer>
		</dict>
		<key>toFloat.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>utilities_unittest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>30</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0AD6BB5C0A814B8089AF1130</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1474C367A9CE49258BA2E763</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1981719AB1D6495388470104</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22EFA250A30E4A9897DCAF80</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2DC03184620241EDA58B2A31</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>38A36B3ACD944EC3AD6DF1F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B4AA948CD92444BA7EC78DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49B5F00D0DA54538AB275222</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D70EFBF1A004D2681364B00</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E3A27CB945B4CD7A2CCECBE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>71C2937BA05F4D5E8FF72630</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7568207B404B4F6C81EE4BE9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7E0A60872282467EAF940EE4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>812A692D329F429A9483F543</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84085CC3A53B4A1FA7A0857C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8B516401B3EE4CB8B334EED5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C0FAB6D9F60476ABE38AD4D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>929F2772B3094FED9C70701A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96B315A6EDE345AEBFD604B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B7F8AE7EE554810B9177F4B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9D1D8099AFDA40EAB1981982</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A713AF07096C43BCBA085EFC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF9FA3B4A3874957B9F21F10</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B6D52278DFF247D8AD7B713D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C8AA5E79F1774E19976A8F7D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DCFB7505222344A68B9B7ACF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DD383E5EBD2B4CBBBB612B7D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DDA02ECB9F074A0BBE14548B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E326154D35B44DE58AA57680</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EAAD4D71120B4C3DAAAB8ECF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F5B6DDD9F2AD4109BFB9231C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
